# SPDX-License-Identifier: MIT
# Instalar: sudo cp scripts/udev/99-tang-primer-25k.rules /etc/udev/rules.d/ && sudo udevadm control --reload && sudo udevadm trigger
# Tang Primer 25K: depurador integrado (emula FT2232) para openFPGALoader
SUBSYSTEM=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6010", MODE="0664", GROUP="plugdev", TAG+="uaccess"
